body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: orange;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, rgb(253, 98, 60), orange);
    border-radius: 20px;
    padding: 10px 18px;
    box-shadow: 2px 2px 20px rgb(243, 220, 178);
}

h1 {
    color: rgb(66, 65, 65);
}

section {
    display: flex;
    margin-bottom: 100px;
}

.intro_div {
    width: 50%;
    margin-left: 50px;
}

.intro_div img {
    width: 50%;
}

#background {
    background-image: url(image/background/Frame\ 58.jpg);
    background-size: cover;
}

#doc {
    margin-top: 5%;
}

#model {
    margin-left: 40%;
}