body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

span {
    color: orange;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg, rgb(253, 98, 60), orange);
    border-radius: 20px;
    padding: 10px 18px;
    box-shadow: 2px 2px 20px rgb(243, 220, 178);
}

h1 {
    color: rgb(66, 65, 65);
    font-size: 35px;
    font-weight: bold;
}

section {
    display: flex;
    margin-bottom: 80px;
}

.intro_div {
    width: 50%;
    margin-top: 50px;
    margin-right: 10%;
}

.intro_div img {
    width: 80%;
}

#background {
    background-image: url(image/background/Frame\ 58.jpg);
    background-size: cover;
}

#doc {
    margin: 10% 20%;
}

#model {
    margin-top: 20%;
    margin-right: 20%;
}

#model2 {
    margin-left: 10%;
    margin-top: 10%;
}

.recipy {
    text-align: center;
    margin: 0px 400px;
}

.item {
    display: flex;
}

.food {
    width: 33%;
    margin: 30px;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px 30px rgb(185, 182, 182);
}

.food img {
    width: 100%;
}

.item {
    margin: 30px;
}

.followers {
    border-radius: 20px;
    box-shadow: 4px 5px 30px rgb(216, 213, 213);
    margin: 4% 6%;
}

.like {
    text-align: center;
    width: 33%;
    margin: 0 10%;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 2%;
    padding-top: 1%;
}